.alerts-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
}

.padding-div {
	padding-top: 5px;
}

.padding-left-right{
	padding-left: 20px;
	padding-right: 20px;
}

.padding-up-down {
	padding-bottom: 10px;
	padding-top: 10px;
}

.full-height {
	height:100vh;
}

.input-text-max-width{
	max-width: 400px;
}

.my-align-center{
	-webkit-align-content: center;
    align-content: center;
    text-align: center;
}

.full-width{
	width: 100%;
	height: 250px;
}

.small-width{
	width: 100px;
}

.medium-width{
	width: 150px;
}

.video-padding-top{
	padding-top: 37px;
}